doctype html
html
  div.page-center
    head
      link(href='/css/index.css', rel='stylesheet')
    body
      title Cash Machine API
      h1 Welcome to Cash Machine API
      h2
        | Cash Out!